<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PIDash{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">

        <script src="{{ asset('build/app.js') }}"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="main-wrapper-first">
            <div class="banner-area">
                <div class="container height">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
